<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ConfuserEx.Final" version="1.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="Costura.Fody" version="1.6.2" targetFramework="net461" developmentDependency="true" requireReinstallation="true" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net40" />
  <package id="Fody" version="2.0.0" targetFramework="net461" developmentDependency="true" requireReinstallation="true" />
  <package id="iTextSharp" version="5.5.12" targetFramework="net461" />
</packages>